.auth-brand-button {
  background-color: var(--color-brand-primary) !important;
  border-color: var(--color-brand-primary) !important;
  color: #fff !important;
  @apply rounded-xl;

  &:hover,
  &:focus {
    background-color: var(--color-brand-secondary) !important;
    border-color: var(--color-brand-secondary) !important;
    color: #fff !important;
  }

  &:active {
    opacity: 0.8;
  }
}

//
.basic-button {
  @apply rounded-full px-4 py-2 leading-none text-primary-text transition-colors duration-200;
}

.normal-button {
  @apply basic-button bg-brand-primary;

  &:hover,
  &:focus {
    @apply border-brand-secondary bg-brand-secondary;
  }

  &.is-active {
    @apply border border-primary-border bg-slate-50 text-slate-600;
  }
}

.status-badge-button {
  @apply flex items-center rounded-full px-2 py-1 text-[0.95rem] transition-all duration-200;
}

.toggle-button {
  @apply inline-flex items-center text-sm font-medium text-blue-600 hover:text-blue-900;
}
