.auth-brand-button {
  background-color: var(--color-brand-primary) !important;
  border-color: var(--color-brand-primary) !important;
  color: #fff !important;
  @apply rounded-xl;

  &:hover,
  &:focus {
    background-color: var(--color-brand-secondary) !important;
    border-color: var(--color-brand-secondary) !important;
    color: #fff !important;
  }

  &:active {
    opacity: 0.8;
  }
}
