// Input Number
.el-input-number.el-input-number--large {
  @apply h-10 w-28;

  .el-input__wrapper {
    @apply rounded-lg;

    &:hover,
    &.is-focus {
      @apply border-brand-primary;
    }
  }

  &.is-controls-right {
    .el-input-number__decrease,
    .el-input-number__increase {
      @apply border-brand-primary bg-transparent text-brand-primary;
      border-left: 2px solid var(--el-border-color);

      &:hover {
        @apply bg-brand-primary text-white;
      }
    }
  }

  .el-input__inner {
    @apply text-center;
  }
}

// Form Input
.el-input {
  .el-input__wrapper {
    @apply bg-black-100 dark:bg-gray-500;
    border-radius: 8px;
    padding: 4px 8px;
    transition: border-color 0.3s ease;
    box-shadow: none;

    &:hover {
      @apply border-brand-color-difference;
      box-shadow: none;
    }

    &.is-focus {
      @apply border-brand-color-difference;
      box-shadow: none;
    }
  }

  .el-input__inner {
    font-size: 14px;
    height: 30px;

    &::placeholder {
      @apply text-primary-text-200 dark:text-black-300;
      font-size: 14px;
    }
  }
}

// Search input in tables and forms
.input_table {
  .el-input__wrapper {
    @apply background-color-difference h-9 rounded-xl;
    border-radius: 8px;
    padding: 4px 8px;
    transition: border-color 0.3s ease;
    border: 1px solid var(--color-primary-border);

    &.is-focus {
      box-shadow: none;
      @apply border-brand-color-difference;
    }

    &.is-error {
      border: 1px solid var(--color-secondary-red);
    }
  }

  // text color
  .el-input__inner,
  .el-input__inner:focus {
    @apply text-color-difference;
  }
}

.el-date-editor {
  .el-input__wrapper {
    @apply background-color-difference h-8 rounded-md;
    transition: border-color 0.3s ease;
    border: 1px solid var(--color-primary-border);

    &.is-focus {
      border-color: var(--color-primary-text);
      box-shadow: none;
    }

    &.is-disabled {
      @apply opacity-60;
    }
  }
}
