.divider-line {
  position: relative;
}

.divider-line::after {
  content: '';
  position: absolute;
  left: 0;
  right: 0;
  bottom: -0.25rem;
  height: 1px;
  background-color: var(--tw-color-gray-200, #e5e7eb);
}
